<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initialscale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstr
ap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row pt-4">
        <form class="col-4 mx-auto">
          <select class="form-control">
            <option value="">เลือกผู้ใช้</option>
            <% lists.forEach(function(user){ %>
            <option value="<%= user.name %>"><%= user.name %></option>
            <% }) %>
          </select>
        </form>
      </div>
    </div>
  </body>
</html>
